.head-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


.logo{
    width: 185px;
}
nav{
    display: flex;
    justify-content: space-around;
    max-width: 1400px;
    width: 100%;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

} 
a {
  
    text-decoration: none;
    color: black;
    
}

.header-txt {
    
    max-width:  350px;
    width:  100%;
    min-height: 28px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-style: 14px;
    line-height: 28px;
    color: #2F281E;
}

li{
    list-style: none;
   
    
}

.signup-btn{
    
    max-width: 110px;
    width: 100%;
    height: 46px;
    font-family: 'poppins' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #FF9900;
    color: #FFFFFF;
    border-radius: 4px;
}   

.signin-btn{
    
    max-width: 102px;
    width: 100%;
    height: 46px;
    background-color: #FFFFFF;
    color: #173A56;
    border-color: #BCD0E5;
    border-radius: 4px;
    
}

hr {
    opacity: 1.09;
}

.main-title{
    max-width: 518px;
    width: 100%;
    height: 108px;
    font-family: 'poppins' , sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;

}

.main-info{
    max-width: 458px;
    width: 100%;
    height: 95px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.start-btn { 
    max-width: 175px;
    width: 100%;
    height: 53px;
    border-radius: 10px;
    border: none;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background-color: #FF9900;
    color: #FFFFFF;

}



.vid-btn {
    max-width: 161px;
    width: 100%;
    height: 23px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF9900;
    text-decoration: underline;
    background-color: #FFFFFF;
    border: none;

}
.triangle-btn{
   max-width: 20px;
   width: 100%;
   height: 17px;
   margin-left: 2px; 
   color: #FF9900;
   border-radius: 1.125px;
   transform: rotate(90deg);

}

.header-img{
    display: flex;
    max-width: 605px;
    width: 100%;
    height: 496px;
   
} 

.feature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2211px;
    width: 100%;
    height: 543px;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-icon1 {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    max-width: 51px;
    width: 100%;
    min-height: 50px;
    
}

.card-icon2 {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    max-width: 50px;
    width: 100%;
    min-height: 50px;
}

.card-icon3 {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    max-width: 50px;
    width: 100%;
    min-height: 50px;
}

.card-icon4 {
    /*display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    max-width: 50px;
    width: 100%;
    min-height: 50px;
}

.card-heading {
    max-width: 164px;
    width: 100%;
    min-height: 33px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
}

.card-txt {
    max-width: 240px;
    width: 100%;
    min-height: 52px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;

}

.sign-up-now-btn {
  
    justify-content: center;
    align-items: center;
    max-width: 175px;
    width: 100%;
    height: 53px;
    
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color:#FFFFFF;
    background-color: #FF9900;
    border-radius: 4px;
}

.second-title{
    max-width: 539px;
    width:  100%;
    height: 108px;
    font-family: 'poppins' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;;
    line-height: 54px;
    text-align: center;
    color: #2F281E;

}

.design-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    margin-bottom: 100px;
  
   
}
.design-effort{
    max-width: 186px;
    width: 100%;
    height: 24px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;

}

.design-title{
    max-width: 385px;
    width: 100%;
    height: 54px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.design-text{
    max-width: 486px;
    width: 100%;
    height: 78px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}

.tiny-design-title{
    max-width: 211px;
    width: 100%;
    height: 26px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color:#2F281E
}

.design-img{
    
    max-width: 520px;
    width: 100%;
    height: 574px;
    margin-top: 10px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    max-width: 1121px;
    width: 100%;
    min-height: 521px;
    
}

.product-img{
    max-width: 535px;
    width: 100%;
    height: 521px;
}

.product-design{
    max-width: 212px;
    width: 100%;
    height: 24px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837; 
}

.product-title {
    max-width: 342px;
    width: 100%;
    height: 54px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.product-text{
    max-width: 486px;
    width: 100%;
    height: 78px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}

.tiny-product-text{
    max-width: 430px;
    width: 100%;
    height: 52px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color:#2F281E;
}

checkbox-icon {
    max-width: 35px;
    width: 100%;
    height: 35px;
}

.marketers-container{
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
    min-height: 609px;
}


.marketers-design {
    max-width: 131px;
    width: 100%;
    height: 24px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;  
}

.marketers-title{
    max-width: 190px;
    width: 100%;
    height: 54px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.marketers-text{
    max-width: 486px;
    width: 100%;
    height: 52px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;    
}

.marketers-img{
    display: flex;
    max-width: 542px;
    width: 100%;
    height: 609px;
    
}
hr {
    opacity: 0.33;
}

footer {
    display: flex;
    justify-content: space-around;
    max-width: 1109px;
    width: 100%;
    min-height: 308px;
}

.footer-logo{
    
    max-width: 185px;
    /*width: 100%;
    height: 32px;*/
    
}


.footer-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    font-size: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px; 
    text-decoration: none;
    color:#544837;
}

.links {
    
    max-width: 123px;
    width: 100%;
    height: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #2F281E;
}

.legal { 
    max-width: 114px;
    width: 100%;
    min-height: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #2F281E;
}

.form-txt { /*knowing you're always on the best energy deal*/
    max-width: 280px;
    width: 100%;
    height: 57px;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
}

.input {
   
    max-width: 325px;
    width: 100%;
    min-height: 48px;
  
}

::placeholder { /*need to fix the size*/
    max-width: 183px;
    width: 100%;
    height: 28px;
    font-family: 'lato' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:  28px;
    background-color: #FFFFFF;
    color: #BCD0E5;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.footer-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 131px;
    width: 100%;
    min-height: 39px;
    border-radius: 4px;
 
}

.footer-btn-txt {
 
    
    max-width: 101px;
    width: 100%;
    height: 24px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF9900;
    border-radius: 4px;
}