/*.design-container {
    max-width: 1400px;
    width: 100%;
    height: 3843px;
    top: -2123px;
    left: 298px;
}*/

.logo{
    width: 185px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    width: 100%;
    height: 78px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

/*.navbar-text{<--moved to ul-->
    display: flex;
    font-family: 'poppins' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #2F281E;

}*/

ul {
    position: absolute;
    max-width: 350px;
    width: 100%;
    height: 28px;
    top: 24px;
    left: 650px;
    font-family: 'poppins' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #2F281E;
    
}

li{
    list-style: none;
    
   
}



.signup-btn{
    position: absolute;
    max-width: 100px;
    width: 100%;
    height: 46px;
    left: 1145px;
    top: 15px;
    font-family: 'poppins' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #FF9900;
    color: #FFFFFF;
    border-radius: 4px;
}   

.signin-btn{
    position: absolute;
    max-width: 102px;
    width: 100%;
    height: 46px;
    top: 15px;
    left: 1029px;
    background-color: #FFFFFF;
    color: #173A56;
    border-color: #BCD0E5;
    border-radius: 4px;
    
} 
/*navbar-btns{
    display: inline-flex;
   
    flex-direction: row-reverse;
    */


.main-title{
    max-width: 518px;
    width: 100%;
    height: 108px;
    top: 211px;
    left: 145px;
    margin-left: 145px;
    margin-top: 211px;
    font-family: 'poppins' , sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;

}

   .main-info{
   
    max-width: 458px;
    width: 100%;
    height: 95px;
    margin-left: 145px;
    margin-top: 349px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.start-btn { 
    position: absolute;
    max-width: 175px;
    width: 100%;
    height: 53px;
    left: 145px;
    top: 489px;
    border-radius: 10px;
    border: none;
    background-color: #FF9900;
    color: #FFFFFF;

}

.vid-btn {
    position: absolute;
    max-width: 161px;
    width: 100%;
    height: 23px;
    left: 350px;
    top: 504px;
    color: #FF9900;
    background-color: #FFFFFF;
    border: none;

}
triangle-btn{
   position: absolute;
   max-width: 20px;
   width: 100%;
   height: 17px;
   top: 6.52%;
   bottom: 19.57%;
   left: 10.87%;
   right: 76.71%;
   color: #FF9900;
   border-radius: 1.125px;
   transform: rotate(90deg);

}



.header-img{
    position: absolute;
    max-width: 605px;
    width: 100%;
    height: 496px;
    top: 128px;
    left: 666px;
} 

.card {
    position: absolute;
    justify-content: space-evenly;
    max-width: 1095px;
    width: 100%;
    height: 204px;
    top: 162px;
    left: 567px;
}

.sign-up-now-btn {
    position:absolute;
    max-width: 175px;
    width: 100%;
    height: 53px;
    top: 73.66%;
    bottom: 16.57%;
    right: 45.64%;
    left: 46.45%;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
    background-color: #FF9900;
    border-radius: 4px;
}

.second-title{
    display: inline-flex;
    align-items: center;
    max-width: 539px;
    width:  100%;
    height: 108px;
    left: 38.22%;
    right: 37.4%;
    top: calc(50%-108/2 - 217.5px);
    font-family: 'poppins' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;;
    line-height: 54px;
    text-align: center;
    color: #2F281E;

}
.design-effort{
    max-width: 186px;
    width: 100%;
    height: 24px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;

}

.design-title{
    max-width: 385px;
    width: 100%;
    height: 54px;
    top: 27px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.design-text{
    max-width: 486px;
    width: 100%;
    height: 78px;
    top: 103px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}

.tiny-design-title{
    max-width: 211px;
    width: 100%;
    height: 26px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color:#2F281E
}

.design-img{
    position: absolute;
    max-width: 520px;
    width: 100%;
    height: 574px;
    top: 1397px;
    left: 735px;


}

.product-img{
    max-width: 535px;
    width: 100%;
    height: 521px;
    top: 2072px;
    left:144px;

}

.product-design{
    max-width: 212px;
    width: 100%;
    height: 24px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837; 
}

.product-title {
    max-width: 342px;
    width: 100%;
    height: 54px;
    top: 27px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.product-text{
    max-width: 486px;
    width: 100%;
    height: 78px;
    top: 103px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}

.tiny-product-text{
    max-width: 430px;
    width: 100%;
    height: 52px;
    top: 211px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color:#2F281E;
}

.icon {
    max-width: 35px;
    width: 100%;
    height: 35px;
    left: 0px;
    top: 310px;
}

.marketers-design {
    max-width: 131px;
    width: 100%;
    height: 24px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;  
}

.marketers-title{
    max-width: 190px;
    width: 100%;
    height: 54px;
    top: 27px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

.marketers-text{
    max-width: 486px;
    width: 100%;
    height: 52px;
    top: 38px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;    
}

.marketers-img{
    position: absolute;
    max-width: 542px;
    width: 100%;
    height: 609px;
    top: 2697px;
    left: 715px;
}

.footer{
    display: flex;
    justify-content: space-around;
}